.navbar-frame {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    max-height: 36px;
}

.stacked-nav .nav-link {
    color: #6c757d;
}

.stacked-nav .nav-link.active {
    color: #f8f9fa;
}

.stacked-nav .nav-link:hover {
    text-decoration: underline;
}

.sidebar-frame {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-frame > main {
    margin-left: 0;
    transition: margin 0.5s;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* allow shrinking the main page width when sidebar is shown */
    .sidebar-frame > .sidebar-show + main {
        margin-left: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* always display sidebar */
    .sidebar-frame > main {
        margin-left: 250px;
    }
}

.sidebar {
    width: 250px;
    height: 100%;
    flex-shrink: 0;
    position: absolute;
    background-image: linear-gradient(180deg, #544f30 0%, #212529 60%);
    overflow-x: hidden;
    overflow-y: auto;
    transition: margin 0.5s;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* hide sidebar on tablets, but keep desktop-sized sidebar */
    .sidebar-hide {
        margin-left: -100vw;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* hide sidebar on mobile and let it take up the entire viewport when expanded */
    .sidebar {
        width: 100vw;
    }
}

.sidebar .nav-link {
    margin-bottom: 8px;
}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#nprogress .bar {
    background: limegreen !important;
}
