html,
body {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    max-height: 36px;
}

.stacked-nav .nav-link {
    color: #6c757d;
}

.stacked-nav .nav-link.active {
    color: #f8f9fa;
}

.stacked-nav .nav-link:hover {
    text-decoration: underline;
}

.browser-frame {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.below-navbar {
    position: relative;
    display: flex;
    flex: 1;
}

.below-navbar>main {
    position: relative;
    display: flex;
    flex: 1;
    margin-left: 0;
    transition: margin 0.5s;
    background-color: white;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* allow shrinking the main page width when sidebar is shown */
    .below-navbar>.sidebar-show+main {
        margin-left: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* always display sidebar */
    .below-navbar>main {
        margin-left: 250px;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    min-height: 100%;
    z-index: 99;
    transition: width 0.5s, margin 0.5s;
    background-image: linear-gradient(180deg, #544f30 0%, #212529 60%);
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* hide sidebar on tablets, but keep desktop-sized sidebar */
    .sidebar-hide {
        margin-left: -100%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* hide sidebar on mobile and let it take up the entire viewport when expanded */
    .sidebar {
        width: 100%;
    }
}

.sidebar .nav-link {
    margin-bottom: 8px;
}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#nprogress .bar {
    background: limegreen !important;
}